/* style.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #ffffff;
}

body.light {
    background: #dfd8d8;
    color: #000;
}

body.dark {
    background: #333;
    color: #f5f5f5;
}



.ri-sun-line,
.ri-moon-line {
    font-size: 20px;
    cursor: pointer;
    /* margin-left: 8px; */
}

.container {
    /* width: 80vw; */
    max-width: 1110px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: #fff; */
    min-height: 99vh;
}


.header,
.portfolio,
.footer {
    margin-bottom: 20px;
}

body.dark .portfolio a{
    color: aqua;
}

body.dark #homeBtn{
    color: #f5f5f5;
}
body.dark #aboutBtn{
    color: #f5f5f5;
}

.container {
    max-width: 1110px;
    margin: auto;
    text-align: left;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-name img {
    width: 35px;
    height: auto;
}

nav {
    margin-top: 8px;
}

nav p {
    color: teal;
    margin-right: 12px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
}


.socials {
    margin-top: 24px;
    font-size: 14px;
}

.socials a {
    text-decoration: none;
    color: #000;
    margin-right: 8px;
}

.socials a i {
  font-size: 20px;
  color: #000; 
  transition: color 0.3s;
}

body.dark .socials a i {
  color: #f5f5f5;
}

.socials span {
    margin-right: 6px;
}

.footer {
    text-align: center;
}


#starfall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  display: none;
}

.highlight{
    font-weight: bold;
    font-style: italic;
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
    align-items: center;
    justify-content: center;
}

.lightbox.show {
    display: flex;
    opacity: 1;
}

.lightbox-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.lightbox.show .lightbox-content {
    transform: scale(1);
}

.close-lightbox {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close-lightbox:hover,
.close-lightbox:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#meIcon {
    cursor: pointer;
}

